{{! ADD AUTHOR SOCIAL LINKS HERE }}
{{! THESE SOCIAL LINKS WILL APPEAR IN THE PAGE FOOTER }}
{{! REMOVE ANY UNWATED LINKS }}

{{! TWITTER }}
<a href="http://twitter.com/darrenux" target="_blank" class="social social_solid twitter"><i class="fa fa-twitter"></i></a>

{{! FACEBOOK }}
<a href="http://facebook.com/darrenjsmith" target="_blank" class="social social_solid facebook"><i class="fa fa-facebook"></i></a>

{{! GOOGLE+ }}
<a href="https://plus.google.com/u/0/117725596179781764399/" target="_blank" class="social social_solid google"><i class="fa fa-google-plus"></i></a>

{{! INSTAGRAM }}
<a href="http://instagram.com/darrenjsmith" target="_blank" class="social social_solid instagram"><i class="fa fa-instagram"></i></a>

{{! LINKEDIN }}
<a href="www.linkedin.com/in/darrenjohnsmith" target="_blank" class="social social_outline linkedin"><i class="fa fa-linkedin"></i></a>

{{! TUMBLR }}
<a href="http://d.tumblr.com" target="_blank" class="social social_outline tumblr"><i class="fa fa-tumblr"></i></a>

{{! RSS - LEAVE DEFAULT }}
<a href="{{@blog.url}}/rss/" target="_blank" class="social social_solid rss"><i class="fa fa-rss"></i></a>


